<h1>{{title}}</h1>
<p>Login</p>

<form action="/login" method="post">
    <label>Username: <input type="text" name="username"></label><br>
    <label>Password: <input type="password" name="password"></label><br>
    <input type="submit">
</form>